<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latest blog post</title>

  <!-- icofont-css-link -->
  <link rel="stylesheet" href="css/icofont.min.css">
  <!-- Owl-Carosal-Style-link -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <!-- Bootstrap-Style-link -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Aos-Style-link -->
  <link rel="stylesheet" href="css/aos.css">
  <!-- Coustome-Style-link -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Responsive-Style-link -->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/fav_icon.png" type="image/x-icon">

</head>

<body>

  <!-- header start -->
  <header>
    <!-- container start -->
    <div class="container">
      <!-- navigation bar -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index">
          <img src="images/logo.png" alt="image">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
            <span class="toggle-wrap">
              <span class="toggle-bar"></span>
            </span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About us</a>
            </li>
            <!-- secondery menu start -->
            <li class="nav-item has_dropdown">
              <a class="nav-link" href="#">Pages</a>
              <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
              <div class="sub_menu">
                <ul>
                  <li><a href="blog-list">Blog List</a></li>
                  <li><a href="blog-detail">Single Blog</a></li>
                  <li><a href="sign-in">Sign In</a></li>
                  <li><a href="sign-up">Sign Up</a></li>
                </ul>
              </div>
            </li>
            <!-- secondery menu end -->

            <li class="nav-item">
              <a class="nav-link" href="pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog-list">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
            <li class="nav-item">
              <div class="btn_block">
                <a target="_blank" class="nav-link dark_btn" href="https://apps.apple.com/ae/app/picsden-design-flyer-maker/id6447237150?platform=iphone">Download</a>
                <div class="btn_bottom"></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- navigation end -->
    </div>
    <!-- container end -->
  </header>
  <!-- header End -->

  <!-- page-wrapper-start -->

  <div class="page_wrapper">

    <!-- our resource section start -->
    <section class="our_resource">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section_title">
              <span class="title_badge">Our Resources</span>
              <h2>Latest <span>blog post</span></h2>
              <p>Lorem Ipsum is simply dummy text of the printing indus orem Ipsum has been the industrys standard text
                ever since.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mail_block white_text">
              <div class="dotes_blue"><img src="images/blue_dotes.png" alt="image"></div>
              <div class="text">
                <span class="icon"><img src="images/email_icon.png" alt="image"></span>
                <h3>Join our mailing list</h3>
                <p>Be the first to receive all latest post in your inbox</p>
                <form>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email">
                    <button class="btn"><i class="icofont-paper-plane"></i></button>
                  </div>
                  <p class="note">By clicking send link you agree to receive message.</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- our resource section End -->

    <!-- recent article section start -->
    <section class="articles_section row_am">
      <div class="container">
        <div class="section_title">
          <h2>Recent <span>articles</span></h2>
        </div>
        <ul class="filter_tags">
          <li><a href="#" class="active">All</a></li>
          <li><a href="#">Mobile app</a></li>
          <li><a href="#">Android</a></li>
          <li><a href="#">iOS</a></li>
          <li><a href="#">Trending Tech</a></li>
        </ul>
        <div class="blog_listings">
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="listing_block">
            <a href="#" class="img">
              <img src="images/blog1.png" alt="image">
            </a>
            <div class="blog_text">
              <span class="tag">Mobile app</span>
              <h2><a href="#">How to use mobile
                  application with best
                  performance lorem...</a></h2>
              <a href="#">Read more <i class="icofont-arrow-right"></i></a>
            </div>
            <div class="authore_info">
              <ul class="blog_info">
                <li>May 12, 2023</li>
                <li>5 Comments</li>
                <li>750 Views</li>
              </ul>
              <div class="avtar">
                <img src="images/authore_01.png" alt="image">
                <div class="text">
                  <h3>Willium Joy</h3>
                  <span>Copy editor</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- recent article section End -->

    <!-- footer section start -->
    <footer class="white_text">
      <div class="footer_overlay"> <img src="images/overlay-bg1.svg" alt="img"> </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="logo_side">
              <div class="logo">
                <a href="/index">
                  <img src="/images/logo.png" alt="">
                </a>
              </div>
              <div class="news_letter">
                <h3>Subscribe now <br> and never miss an update</h3>
                <p>Stay stuned with PicsDen's latest features and Update</p>
                <form action="/index" method="post">
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                    <button class="btn"><i class="icofont-paper-plane"></i></button>
                  </div>
                  <p class="note">By clicking send link you agree to receive message.</p>
                </form>
              </div>
              <ul class="contact_info">
                <li><a href="mailto:">admin@picsden.com </a></li>
                <li><a href="tel: ">+1-900-123 4567</a></li>
              </ul>
              <ul class="social_media">
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100091764906902"><i
                      class="icofont-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/picsden"><i class="icofont-twitter"></i></a></li>
                <li><a target="_blank" href="https://dribbble.com/picsden"><i class="icofont-dribble"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/picsden_ai/?igshid=ZGUzMzM3NWJiOQ%3D%3D"><i
                      class="icofont-instagram"></i></a></li>
                <li><a target="_blank" href="https://pin.it/1A7pMzM"><i class="icofont-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="download_side">
              <h3>Download app</h3>
              <ul class="app_btn">
                <li>
                  <a target="_blank"
                    href="https://apps.apple.com/ae/app/picsden-design-flyer-maker/id6447237150?platform=iphone">
                    <img class="blue_img" src="images/appstorebtn.png" alt="image">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="ft_inner">
            <div class="copy_text">
              <p>&copy; Copyrights
                <script>document.write(new Date().getFullYear())</script>. All rights reserved.
              </p>
            </div>
            <ul class="links">
              <li><a href="index">Home</a></li>
              <li><a href="about">About us</a></li>
              <li><a href="pricing">Pricing</a></li>
              <li><a href="blog-list">Blog</a></li>
              <li><a href="contact">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer section End -->

  </div>

  <!-- Page-wrapper-End -->

</body>
<!-- Jquery-js-Link -->
<script src="js/jquery.js"></script>
<!-- owl-js-Link -->
<script src="js/owl.carousel.min.js"></script>
<!-- bootstrap-js-Link -->
<script src="js/bootstrap.min.js"></script>
<!-- aos-js-Link -->
<script src="js/aos.js"></script>
<!-- main-js-Link -->
<script src="js/main.js"></script>

</html>