<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <!-- icofont-css-link -->
    <link rel="stylesheet" href="css/icofont.min.css">
    <!-- Owl-Carosal-Style-link -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap-Style-link -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Aos-Style-link -->
    <link rel="stylesheet" href="css/aos.css">
    <!-- Coustome-Style-link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-Style-link -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/fav_icon.png" type="image/x-icon">

</head>

<body>

    <!-- header start -->
    <header>
        <!-- container start -->
        <div class="container">
          <!-- navigation bar -->
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index">
              <img src="images/logo.png" alt="image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <!-- <i class="icofont-navigation-menu ico_menu"></i> -->
                <span class="toggle-wrap">
                  <span class="toggle-bar"></span>
                </span>
              </span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About us</a>
                </li>
                <!-- secondery menu start -->
                <li class="nav-item has_dropdown">
                  <a class="nav-link" href="#">Pages</a>
                  <span class="drp_btn"><i class="icofont-rounded-down"></i></span>
                  <div class="sub_menu">
                    <ul>
                      <li><a href="blog-list">Blog List</a></li>
                      <li><a href="blog-detail">Single Blog</a></li>
                      <li><a href="sign-in">Sign In</a></li>
                      <li><a href="sign-up">Sign Up</a></li>
                    </ul>
                  </div>
                </li>
                <!-- secondery menu end -->
    
                <li class="nav-item">
                  <a class="nav-link" href="pricing">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="reviews">Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="blog-list">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                  <div class="btn_block">
                    <a target="_blank" class="nav-link dark_btn" href="https://apps.apple.com/ae/app/picsden-design-flyer-maker/id6447237150?platform=iphone">Download</a>
                    <div class="btn_bottom"></div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <!-- navigation end -->
        </div>
        <!-- container end -->
      </header>
    <!-- header End -->

    <!-- page wrapper start -->
    <div class="page_wrapper">

        <!-- contact us section start -->
        <section class="contact_section">
            <div class="container">
                <div class="section_title">
                    <span class="title_badge">Contact us</span>
                    <h2>Any query? <span>let's talk</span></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing indus lorem Ipsum <br> has been the industrys
                        standard dummy text ever since.</p>
                </div>
                <ul class="contact_listing">
                    <li>
                        <span class="icon">
                            <img src="images/mail_icon.png" alt="image">
                        </span>
                        <span class="lable">Email us</span>
                        <a href="mailto:abc@gmail.com">admin@picsden.com </a>
                    </li>
                    <li>
                        <span class="icon">
                            <img src="images/phone_icon.png" alt="image">
                        </span>
                        <span class="lable">Call us</span>
                        <a href="tel:1234567899">+1 123 456 7890</a>
                    </li>
                    <li>
                        <span class="icon">
                            <img src="images/location_icon.png" alt="image">
                        </span>
                        <span class="lable">Our location</span>
                        <a target="_blank" href="https://www.google.com/maps">Open Google Maps</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- contact us section End -->

        <!-- contact form section start -->
        <section class="contact_form white_text row_am">
          <div class="contact_inner">
            <div class="container">
              <div class="dotes_blue"><img src="images/blue_dotes.png" alt="image"></div>
              <div class="section_title">
                <span class="title_badge">Message us</span>
                <h2>Drop a message us</h2>
                <p>Fill up form below, our team will get back soon</p>
              </div>
              <form action="/contact" method="post">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name *" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email *" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Company Name">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select class="form-control">
                        <option value="">Country</option>
                        <option value="">India</option>
                        <option value="">USA</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Website">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Comments"></textarea>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="coustome_checkbox">
                      <label for="term_checkbox">
                        <input type="checkbox" id="term_checkbox">
                        <span class="checkmark"></span>
                        I agree to receive emails, newsletters and promotional messages
                      </label>
                    </div>
                  </div>
                  <div class="col-md-4 text-right">
                    <div class="btn_block">
                      <button class="btn puprple_btn ml-0">Submit</button>
                      <div class="btn_bottom"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- contact form section End -->

        <!-- google map start -->
        <div class="map_block row_am">
            <div class="container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103190.9858395081!2d-115.2979677164074!3d36.07597430119342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas%20Vegas%2C%20NV%2C%20USA!5e0!3m2!1sen!2sin!4v1691230337798!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- google map End -->

        <!-- footer section start -->
        <footer class="white_text">
          <div class="footer_overlay"> <img src="images/overlay-bg1.svg" alt="img"> </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="logo_side">
                  <div class="logo">
                    <a href="/index">
                      <img src="/images/logo.png" alt="">
                    </a>
                  </div>
                  <div class="news_letter">
                    <h3>Subscribe now <br> and never miss an update</h3>
                    <p>Stay stuned with PicsDen's latest features and Update</p>
                    <form action="/index" method="post">
                      <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
                        <button class="btn"><i class="icofont-paper-plane"></i></button>
                      </div>
                      <p class="note">By clicking send link you agree to receive message.</p>
                    </form>
                  </div>
                  <ul class="contact_info">
                    <li><a href="mailto:">admin@picsden.com </a></li>
                    <li><a href="tel: ">+1-900-123 4567</a></li>
                  </ul>
                  <ul class="social_media">
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100091764906902"><i
                          class="icofont-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/picsden"><i class="icofont-twitter"></i></a></li>
                    <li><a target="_blank" href="https://dribbble.com/picsden"><i class="icofont-dribble"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/picsden_ai/?igshid=ZGUzMzM3NWJiOQ%3D%3D"><i
                          class="icofont-instagram"></i></a></li>
                    <li><a target="_blank" href="https://pin.it/1A7pMzM"><i class="icofont-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="download_side">
                  <h3>Download app</h3>
                  <ul class="app_btn">
                    <li>
                      <a target="_blank"
                        href="https://apps.apple.com/ae/app/picsden-design-flyer-maker/id6447237150?platform=iphone">
                        <img class="blue_img" src="images/appstorebtn.png" alt="image">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_bottom">
            <div class="container">
              <div class="ft_inner">
                <div class="copy_text">
                  <p>&copy; Copyrights
                    <script>document.write(new Date().getFullYear())</script>. All rights reserved.
                  </p>
                </div>
                <ul class="links">
                  <li><a href="index">Home</a></li>
                  <li><a href="about">About us</a></li>
                  <li><a href="pricing">Pricing</a></li>
                  <li><a href="blog-list">Blog</a></li>
                  <li><a href="contact">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- footer section End -->

        <!-- go to top button start -->
        <div class="go_top" id="Gotop">
            <span><i class="icofont-arrow-up"></i></span>
        </div>
        <!-- go to top button End -->

    </div>
    <!-- page wrapper End -->

</body>


<!-- Jquery-js-Link -->
<script src="js/jquery.js"></script>
<!-- owl-js-Link -->
<script src="js/owl.carousel.min.js"></script>
<!-- bootstrap-js-Link -->
<script src="js/bootstrap.min.js"></script>
<!-- aos-js-Link -->
<script src="js/aos.js"></script>
<!-- main-js-Link -->
<script src="js/main.js"></script>

</html>